{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "browsers": [
                        "last 2 chrome versions",
                        "last 2 firefox versions",
                        "last 2 safari versions",
                        "last 2 IOS versions",
                        "last 1 Android version",
                        "last 1 ChromeAndroid version",
                        "ie 11"
                    ]
                }
            }
        ],
        "@babel/preset-react"
    ]
}