:root {
    --color-1: #000;
    --color-2: #000;
    --color-3: #000;
    --color-4: #000;
    --color-5: #000;
    --color-6: #000;
    --color-7: #000;
}

$colors: (
    "main": (
        "1": #333,
        "2": #E94545,
        "3": #62B9ED,
        "4": #D39F41,
        "5": #D39F41,
        "6": #D39F41,
        "7": #F1F7FC
    ),
    "gray": (
        "1": #B5B5B5,
        "2": #C4C4C4,
        "3": #efefef
    ),
    "black": (
        "1": #333333
    )
);