$content-width: 1440px !default;
$content-width--narrow: 768px !default;

$mq-breakpoints: (
	small: 600px,
	medium: 960px,
	large: 1024px,
	xlarge: $content-width
);

$spacing: (
	"extra-small": 4px,
	"small": 8px,
	"regular": 16px,
	"large": 32px,
	"extra-large": 64px,
	"extra-extra-large": 128px
);

$sizes: (
	"extra-small": 4px,
	"small": 8px,
	"regular": 16px,
	"large": 32px,
	"extra-large": 64px,
	"extra-extra-large": 128px,
	"content-narrow": $content-width--narrow,
	"content-wide": $content-width
);

$sm-grid: (
    "content_width": $content_width,
    "column_count": 12,
    "column_gutter": 8px,
    "column_side": 8px,
    "row_height": 16px,
    "huge": (
        "breakpoint": 1800px,
        "column_count": 12,
        "column_gutter": 8px,
        "column_side": 8px,
        "row_height": 16px,
    ),
    "xlarge": (
        "breakpoint": 1400px,
        "column_count": 12,
        "column_gutter": 8px,
        "column_side": 8px,
        "row_height": 16px,
    ),
    "large": (
        "breakpoint": 1024px,
        "column_count": 12,
        "column_gutter": 8px,
        "column_side": 8px,
        "row_height": 16px,
    ),
    "medium": (
        "breakpoint": 768px,
        "column_count": 6,
        "column_gutter": 8px,
        "column_side": 8px,
        "row_height": 16px,
    ),
    "small": (
        "breakpoint": 420px,
        "column_count": 6,
        "column_gutter": 8px,
        "column_side": 8px,
        "row_height": 16px,
    ),
    "xsmall": (
        "breakpoint": 320px,
        "column_count": 6,
        "column_gutter": 8px,
        "column_side": 8px,
        "row_height": 16px,
    )
);

$transition: .1s;
$transition-long: .3s;
$transition-extra-long: .6s;
$border-radius-small: 1px;
$box-shadow-extra-small: 2px 2px 0px;
$box-shadow-extra-small-hover: 1px 1px 0px;
$box-shadow-extra-small-focus: 0px 0px 0px;
$box-shadow-small: 4px 4px 0px;
$box-shadow-small-hover: 3px 3px 0px;
$box-shadow-small-focus: 2px 2px 0px;
$box-shadow-regular: 8px 8px 0px;
$box-shadow-regular-hover: 6px 6px 0px;
$box-shadow-regular-focus: 4px 4px 0px;
